name: Build wheel

on:
  release:
    types:
      - created
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  matrix:
    name: Generate matrix of builds
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"

      - name: Extra includes
        id: includes
        run: |
          import json, os
          include = [
              {
                  "os": "windows",
                  "os-version": "latest",
                  "arch": "x86_64",
                  "tag": "cp3{13,13t,14,14t}-win_amd64",
              },
              {
                  "os": "windows",
                  "os-version": "11-arm",
                  "arch": "arm64",
                  "tag": "cp3{13,13t,14,14t}-win_arm64",
              },
              {
                  "os": "windows",
                  "os-version": "latest",
                  "arch": "x86",
                  "tag": "cp3{13,13t,14,14t}-win32",
              },
            ]
          with open(os.environ["GITHUB_OUTPUT"], "a+") as f:
            print("data="+json.dumps({"include": include}), file=f)
          print("data="+json.dumps({"include": include}))
        shell: python

    outputs:
      data: ${{ steps.includes.outputs.data }}

  build_wheel:
    needs: matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.matrix.outputs.data) }}
    name: Build [${{ matrix.os }}-${{ matrix.os-version }}-${{ matrix.arch }}](job-${{ strategy.job-index }})
    runs-on: ${{ matrix.os }}-${{ matrix.os-version }}
    defaults:
      run:
        shell: bash
    env:
      UV_SYSTEM_PYTHON: true
    permissions:
      contents: read
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: marcelotduarte/python-msilib

      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.13"

      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Bump new dev version
        if: github.event_name != 'release'
        run: |
          git config user.name "Marcelo Duarte"
          git config user.email marcelotduarte@users.noreply.github.com
          SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)
          VERSION=$(uvx bump-my-version show current_version 2>/dev/null)
          VERSION_BASE=$(python -c "print('$VERSION'.rsplit('-',1)[0])")
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            OPTIONAL=".${{ github.event.number }}"
          else
            OPTIONAL=""
          fi
          VERSION_NEW=$VERSION_BASE$OPTIONAL-dev.$SOURCE_DATE_EPOCH
          uvx bump-my-version bump --no-tag build --new-version=$VERSION_NEW 2>/dev/null
          git log -1

      - name: Build sdist and wheels
        run: ./ci/build-wheel.sh "${{ matrix.tag }}"

      - name: Upload the artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: python-msilib-wheel-${{ matrix.os }}-job-${{ strategy.job-index }}
          path: wheelhouse
          compression-level: 0 # no compression

  publish:
    if: github.event_name == 'release' && startsWith(github.ref, 'refs/tags')
    name: Publish package to PyPI
    needs: build_wheel
    environment:
      name: pypi
      url: https://pypi.org/p/python-msilib
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Download all artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: wheelhouse
          pattern: python-msilib-wheel-*
          merge-multiple: true

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
        with:
          packages-dir: wheelhouse/
          skip-existing: true
          verbose: true
